@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "fonts";

// Variables
@import 'variables';

// Bootstrap
@import './node_modules/admin-lte/build/scss/adminlte';

.head_organization{
    background: #00bbd8;
    padding: 3px;
    border-radius: 2px;
}

.head_organization .buttons{
    text-align: right;
    padding: 8px 20px 8px 0px;
}

.head_organization .buttons span {
    cursor: pointer;
    margin: 0 10px;
}

.head_organization .buttons span i{
    font-size: 20px;
}

.head_organization .buttons span i.fa-plus-square{
    color: #005c00;
}

.head_organization .buttons span i.fa-edit{
    color: #fff;
}

.head_organization .buttons span i.fa-trash{
    color: #e85425;
}
.edit-division{
    font-size: 20px;
    cursor: pointer;
}
.del-division{
    color:#e85425;
    font-size: 20px;
    cursor: pointer;
}
.body_organization{
    padding: 5px;
    border: 2px solid #00bbd8;
}
.chas_v_nedely{
    line-height: 1;
    padding: 0 5px;
    height: auto;
}
.name-day{
    margin: 2px 0;
}
.div_chas_v_nedely{
    display: none;
}
