@font-face {
    font-family: "MontserratBlack";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/MontserratBlack.eot"), url("../fonts/MontserratBlack.eot#iefix") format("embedded-opentype"), url("../fonts/MontserratBlack.woff") format("woff"), url("../fonts/MontserratBlack.ttf") format("truetype"), url("../fonts/MontserratBlack.svg#MontserratBlack") format("svg");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/MontserratBold.eot"), url("../fonts/MontserratBold.eot#iefix") format("embedded-opentype"), url("../fonts/MontserratBold.woff") format("woff"), url("../fonts/MontserratBold.ttf") format("truetype"), url("../fonts/MontserratBold.svg#MontserratBold") format("svg");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/MontserratMedium.eot"), url("../fonts/MontserratMedium.eot#iefix") format("embedded-opentype"), url("../fonts/MontserratMedium.woff") format("woff"), url("../fonts/MontserratMedium.ttf") format("truetype"), url("../fonts/MontserratMedium.svg#MontserratMedium") format("svg");
}

@font-face {
    font-family: "MontserratThin";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/MontserratThin.eot"), url("../fonts/MontserratThin.eot#iefix") format("embedded-opentype"), url("../fonts/MontserratThin.woff") format("woff"), url("../fonts/MontserratThin.ttf") format("truetype"), url("../fonts/MontserratThin.svg#MontserratThin") format("svg");
}

@font-face {
    font-family: "ProximaNova";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ProximaNova.eot"), url("../fonts/ProximaNova.eot#iefix") format("embedded-opentype"), url("../fonts/ProximaNova.woff") format("woff"), url("../fonts/ProximaNova.ttf") format("truetype"), url("../fonts/ProximaNova.svg#ProximaNova") format("svg");
}
